@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box; 
    /* border: .5px solid red;  */
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #82AEB1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70%;
}
h2 {
    letter-spacing: 1px;
}
.header {
    color: #668586;
}
.information {
    background-color: #668586;
    color: white;
    padding: 30px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.information p {
    font-size: 14px;
    font-weight: 300;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.form {
    height: 100%;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
}.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}
.form-control small {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
}

.terms {
    font-size: 14px;
    margin-bottom: 20px;
}

button {
    font-weight: 500;
    font-family: inherit;
    padding: 10px;
    border-radius: 0px 5px 0px 5px;
    border: none;
    cursor: pointer;
}
.form button {
    background-color: #668586;
    color: #fff;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
}